﻿@model KUBOnlinePRPM.Models.POModel

@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new { @id = "GenerateExcelPage", @class = "container-fluid g-mb-40" }))
{
    @Html.TextBoxFor(m => m.ChildCustId, new { @id = "ChildCustId", @class = "d-none", @type = "text" })
    <div class="row g-bg-white g-pa-20">
        <div class="col-md-12">
            <div class="media-body align-self-center text-left g-mb-30">
                <h3 class="g-font-weight-400 g-font-size-20 g-color-black">Generate Excel For Navision 2017</h3>
            </div>
        </div>
        <div class="container-fluid-v3 col-xs-12 g-mb-30 g-mt-10">
            <div class="row g-mb-20">
                <div class="col-md-2 col-sm-2 formfield">
                    <span>Start Dates</span>
                </div>
                <div class="d-flex col-md-4 col-sm-4">
                    @Html.TextBoxFor(m => m.StartDate, new { @id = "StartDate", @class = "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-20 g-px-14 g-py-10", @type = "date" })
                </div>
            </div>
            <div class="row g-mb-20">
                <div class="col-md-2 col-sm-2 formfield">
                    <span>End Date</span>
                </div>
                <div class="d-flex col-md-4 col-sm-4">
                    @Html.TextBoxFor(m => m.EndDate, new { @id = "EndDate", @class = "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-20 g-px-14 g-py-10", @type = "date" })
                </div>
            </div>
            @if (Model.CustId == 3)
            {
                <div class="row g-mb-20">
                    <div class="col-md-2 col-sm-2 formfield">
                        <span>Subsidiary</span>
                    </div>
                    <div class="d-flex col-md-4 col-sm-4">
                        @Html.DropDownListFor(m => m.CustId, (IEnumerable<SelectListItem>)ViewBag.SubsidiaryList, "", new { @id = "SubsidiaryList", @class = "custom-select g-width-100vw g-height-40 g-color-black g-color-black--hover text-left g-rounded-20" })
                    </div>
                </div>
            }

            @*<input id="@DateRequired" class="form-control rounded-0 form-control-md" value="@item.DateRequired.ToString("yyyy-MM-dd")" name="DateRequired" type="date">*@
            @*<div class="row g-mb-20">
                    <div class="col-md-2 col-sm-2 formfield">
                        <span>Generated File Location</span>
                    </div>
                    <div class="d-flex col-md-4 col-sm-4">
                        @Html.TextBoxFor(m => m.ExtractFileLocation, new { @id = "ExtractFileLocation", @class = "form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-20 g-px-14 g-py-10", @type = "text" })
                    </div>
                </div>*@
            <div class="row">
                @*<div class="col-md-9 col-sm-8"></div>*@
                <div class="col-md-4 offset-md-2 col-sm-4 offset-sm-8">
                    <div class="media float-md-right">
                        <div class="d-flex u-main-nav--push-right text-right">
                            <a id="GenerateExcelFile" class="UploadFile btn btn-md text-white u-btn-blue g-mr-5 g-mb-15">GENERATE EXPORT TABLE</a>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered dt-responsive table-hover" id="POHeaderListTable">
                <thead>
                    <tr>
                        <th>
                            Document Type
                        </th>
                        <th>
                            No.
                        </th>
                        <th>
                            Buy-from Vendor No.
                        </th>
                        <th>
                            Pay-to Vendor No.
                        </th>
                        <th>
                            Order Date
                        </th>
                        <th>
                            Posting Date
                        </th>
                        <th>
                            Expected Receipt Date
                        </th>
                        <th>
                            Posting Description
                        </th>
                        @*<th>Location Code</th>
                            <th>Shortcut Dimension 1 Code</th>
                            <th>Shortcut Dimension 2 Code</th>
                            <th>Vendor Posting Group</th>
                            <th>Currency Code</th>*@
                    </tr>
                <thead>
                </thead>
                <tbody>
                    @foreach (var item in Model.POHeaderList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BuyFromVendorNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayToVendorNo)
                            </td>
                            <td>
                                @if (item.OrderDate.HasValue)
                                {
                                    @*@Html.DisplayFor(modelItem => item.OrderDate.Value.ToShortDateString())*@
                                    @item.OrderDate.Value.ToShortDateString()
                                }
                            </td>
                            <td>
                                @if (item.PostingDate.HasValue)
                                {
                                    @*@Html.DisplayFor(modelItem => item.PostingDate.Value.ToShortDateString())*@
                                    @item.PostingDate.Value.ToShortDateString()
                                }
                            </td>
                            <td>
                                @if (item.ExpectedReceiptDate.HasValue)
                                {
                                    @*@Html.DisplayFor(modelItem => item.ExpectedReceiptDate.Value.ToShortDateString())*@
                                    @item.ExpectedReceiptDate.Value.ToShortDateString()
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostingDescription)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.LocationCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortcutDimension1Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortcutDimension2Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorPostingGroup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrencyCode)
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table table-striped table-bordered dt-responsive table-hover" id="POLineListTable">
                <thead>
                    <tr>
                        <th>
                            Document Type
                        </th>
                        <th>
                            Document No.
                        </th>
                        <th>
                            Line No.
                        </th>
                        <th>
                            Buy-from Vendor No.
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            No.
                        </th>
                        <th>
                            Location Code
                        </th>
                        <th>
                            Posting Group
                        </th>
                        <th>
                            Expected Receipt Date
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Unit of Measure
                        </th>
                        <th>Quantity</th>
                        <th>Outstanding Quantity</th>
                        <th>Direct Unit Cost</th>
                        <th>Amount</th>
                        @*<th>Dim-Project</th>
                            <th>Dim-Department</th>*@
                    </tr>
                <thead>
                </thead>
                <tbody>
                    @foreach (var item in Model.POLineList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BuyFromVendorNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostingGroup)
                            </td>
                            <td>
                                @if (item.ExpReceiptDate.HasValue)
                                {
                                    @item.ExpReceiptDate.Value.ToShortDateString()
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitofMeasure)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OutStandingQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DirectUnitCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.DimProject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DimDepartment)
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="modal">
</div>

<div id="UploadProgressModal" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;">
    <button type="button" class="close" onclick="Custombox.modal.close();">
        <i class="hs-icon hs-icon-close"></i>
    </button>
    <div class="row" id="uploadProgress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            0% Complete
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var POHeaderListTable; var POLineListTable;
        var URLAdmin = "@Url.Action("Index", "Admin")";
    </script>
    <script src="~/Scripts/ExcelGenerator.js"></script>
}